<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

	<!--File Appender-->
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="C:\Wattana\web_info.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="25MB" />
		<staticLogFileName value="true" /> 
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="INFO" />
		</filter>
	</appender>
	<appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="C:\Wattana\web_error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="25MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="ERROR" />
		</filter>
	</appender>

 
	<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" additivity="false">
		<level value="OFF" />
	</logger>
	<logger name="Microsoft.AspNetCore.Routing.EndpointMiddleware" additivity="false">
		<level value="OFF" />
	</logger>
	<logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="Microsoft.EntityFrameworkCore.Infrastructure" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ObjectResultExecutor" additivity="false">
		<level value="OFF" />
	</logger>
	<logger name="Microsoft.AspNetCore.Cors.Infrastructure.CorsService" additivity="false">
		<level value="OFF" />
	</logger>
	<logger name="Microsoft.EntityFrameworkCore.Database.Command" additivity="false">
		<level value="OFF" />
	</logger>
	
	
	<root>
		<level value="ALL" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorsFileAppender" />
	</root>
</log4net>